.mainHeader{
    color: #fff;
    background: #000;
}

#brief{
    color: #fff;
    background: #000;
}

#bio{
    color: #fff;
    background: #000;
}

#activity{
    color: #fff;
    background: #000;
}

#links{
    color: #fff;
    background: #000;
}